/* @import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=5f277aef-a6c5-4cdc-bf22-c2a137a703ec"); */
@font-face{
	font-family:"TradeGothicNextW01-Ligh_693250";
	src:url("../fonts/c22083eb-f768-467a-8736-cd9014be4e4f.eot?#iefix");
	src:url("../fonts/c22083eb-f768-467a-8736-cd9014be4e4f.eot?#iefix") format("eot"),
	url("../fonts/67ac520d-c9d7-44b3-9b07-91f2a8ef8787.woff2") format("woff2"),
	url("../fonts/1e25c4c8-80d6-44ba-bc21-51daaa0cd556.woff") format("woff"),
	url("../fonts/41757792-b783-4a47-9e47-62f4fc3d2ea6.ttf") format("truetype"),
	url("../fonts/d30fef5b-e7a0-444c-8fbf-629dbf84f4f8.svg#d30fef5b-e7a0-444c-8fbf-629dbf84f4f8") format("svg");
}
@font-face{
	font-family:"TradeGothicNextW01-Ligh_693253";
	src:url("../fonts/f2eb748c-88b2-441d-8174-b5f2f62f51b6.eot?#iefix");
	src:url("../fonts/f2eb748c-88b2-441d-8174-b5f2f62f51b6.eot?#iefix") format("eot"),
	url("../fonts/f494a8b7-3454-438f-ae3e-076dc4297e5c.woff2") format("woff2"),
	url("../fonts/c9c6ddb3-ece7-4644-9d6c-a5d358d8c150.woff") format("woff"),
	url("../fonts/39db63bd-1bc5-4585-99c6-0472b14b6787.ttf") format("truetype"),
	url("../fonts/d14a0bc4-5dcd-48b6-8747-98d111e6ee58.svg#d14a0bc4-5dcd-48b6-8747-98d111e6ee58") format("svg");
}
@font-face{
	font-family:"Trade Gothic Next W01";
	src:url("../fonts/8a6c3750-4927-4649-9dac-87049f5e9700.eot?#iefix");
	src:url("../fonts/8a6c3750-4927-4649-9dac-87049f5e9700.eot?#iefix") format("eot"),
	url("../fonts/d4eef5b1-2f4a-42d6-ae2d-6220d71243be.woff2") format("woff2"),
	url("../fonts/57625f96-ca80-4602-9644-ec1803cb3ba3.woff") format("woff"),
	url("../fonts/6618d500-1727-4334-878e-1c4b95192f42.ttf") format("truetype"),
	url("../fonts/01ebe944-ca6c-41db-a3ba-b7e2a90536d9.svg#01ebe944-ca6c-41db-a3ba-b7e2a90536d9") format("svg");
}
@font-face{
	font-family:"TradeGothicNextW01-Ital";
	src:url("../fonts/5907bd95-539f-4f25-b115-69c42aee6b21.eot?#iefix");
	src:url("../fonts/5907bd95-539f-4f25-b115-69c42aee6b21.eot?#iefix") format("eot"),
	url("../fonts/e41c3ce6-57bc-473c-aaf0-9e0e771bf6c8.woff2") format("woff2"),
	url("../fonts/3bde4253-d238-40b7-b813-eea7bdd9e80d.woff") format("woff"),
	url("../fonts/6005c161-37f3-4678-869a-1b4306ecc563.ttf") format("truetype"),
	url("../fonts/1301d16e-d0ec-407b-9796-677535450691.svg#1301d16e-d0ec-407b-9796-677535450691") format("svg");
}
@font-face{
	font-family:"TradeGothicNextW01-Bold_693229";
	src:url("../fonts/678017fc-bfca-4daa-a38a-b0f41bada5e7.eot?#iefix");
	src:url("../fonts/678017fc-bfca-4daa-a38a-b0f41bada5e7.eot?#iefix") format("eot"),
	url("../fonts/b071c6d1-8b3a-4032-9c25-67daff28fae8.woff2") format("woff2"),
	url("../fonts/4d16ea6c-033a-41b1-8326-56a1d7392d5f.woff") format("woff"),
	url("../fonts/573b39c2-10f7-4b72-a656-89a329b76560.ttf") format("truetype"),
	url("../fonts/d079b7e1-7489-4f6d-b4c9-536742085cff.svg#d079b7e1-7489-4f6d-b4c9-536742085cff") format("svg");
}
@font-face{
	font-family:"TradeGothicNextW01-Bold_693235";
	src:url("../fonts/c0134e40-9c97-4d93-a4b9-ccc759b09d6a.eot?#iefix");
	src:url("../fonts/c0134e40-9c97-4d93-a4b9-ccc759b09d6a.eot?#iefix") format("eot"),
	url("../fonts/59f68f61-861d-4788-a907-5500a0c616a8.woff2") format("woff2"),
	url("../fonts/c6e1f03c-b1be-44b3-869a-76dd6d9815cb.woff") format("woff"),
	url("../fonts/3b57c729-52db-4a4b-b447-051993a48636.ttf") format("truetype"),
	url("../fonts/b10c45a7-0777-4974-a66e-2cba877baac2.svg#b10c45a7-0777-4974-a66e-2cba877baac2") format("svg");
}
@font-face{
	font-family:"TradeGothicNextW01-Heav_693241";
	src:url("../fonts/44a1993a-5246-4e6d-bb0e-fd4c26f60b79.eot?#iefix");
	src:url("../fonts/44a1993a-5246-4e6d-bb0e-fd4c26f60b79.eot?#iefix") format("eot"),
	url("../fonts/673710e0-0371-4659-947d-3c4be20bdd53.woff2") format("woff2"),
	url("../fonts/5852e684-2018-4eff-98cb-7918d0976e27.woff") format("woff"),
	url("../fonts/de108d06-1776-480c-b319-f95545e593c7.ttf") format("truetype"),
	url("../fonts/274030cb-a9b4-48c5-9aad-0d739dbf2fb0.svg#274030cb-a9b4-48c5-9aad-0d739dbf2fb0") format("svg");
}
@font-face{
	font-family:"TradeGothicNextW01-Heav_693244";
	src:url("../fonts/0e55d487-86b0-419a-a150-b876d31f0d49.eot?#iefix");
	src:url("../fonts/0e55d487-86b0-419a-a150-b876d31f0d49.eot?#iefix") format("eot"),
	url("../fonts/7bf6bc4e-1496-4df8-8e9a-117f47890e13.woff2") format("woff2"),
	url("../fonts/ece40ba8-2bbf-4a44-b32d-8449643ec184.woff") format("woff"),
	url("../fonts/2fd802ac-703c-4d39-892c-2494d2ff35e2.ttf") format("truetype"),
	url("../fonts/d5330ee0-0ab5-46dd-962f-29ae1a2676c3.svg#d5330ee0-0ab5-46dd-962f-29ae1a2676c3") format("svg");
}
@font-face{
	font-family:"TradeGothicNextW01-Cond";
	src:url("../fonts/5be4a815-5a22-4a8b-8a38-10467be39d2e.eot?#iefix");
	src:url("../fonts/5be4a815-5a22-4a8b-8a38-10467be39d2e.eot?#iefix") format("eot"),
	url("../fonts/a8816340-0294-4243-8519-b2ccf08ca174.woff2") format("woff2"),
	url("../fonts/eb20bf3e-7a5c-4c98-8bc5-f38c1b3dd9f2.woff") format("woff"),
	url("../fonts/bbd9ed4b-21d6-4a35-a3eb-176c31258e03.ttf") format("truetype"),
	url("../fonts/2b33a704-0f65-4c4c-94d0-2bd00c0151af.svg#2b33a704-0f65-4c4c-94d0-2bd00c0151af") format("svg");
}
@font-face{
	font-family:"TradeGothicNextW01-CnIt";
	src:url("../fonts/0141efcd-c467-4bd2-829f-4f7e4c4c0fb1.eot?#iefix");
	src:url("../fonts/0141efcd-c467-4bd2-829f-4f7e4c4c0fb1.eot?#iefix") format("eot"),
	url("../fonts/6f8d70e1-0519-4578-b61b-4660e10adcd7.woff2") format("woff2"),
	url("../fonts/0b4c5dd8-487a-4a92-921f-bff9d2ef800a.woff") format("woff"),
	url("../fonts/c3901e8a-5844-4034-85be-d9f3a3d5a150.ttf") format("truetype"),
	url("../fonts/1de3af37-9042-46d5-9605-c8f534732a86.svg#1de3af37-9042-46d5-9605-c8f534732a86") format("svg");
}
@font-face{
	font-family:"TradeGothicNextW01-Bold_693232";
	src:url("../fonts/62cdf702-7113-4955-9b29-d803174650c7.eot?#iefix");
	src:url("../fonts/62cdf702-7113-4955-9b29-d803174650c7.eot?#iefix") format("eot"),
	url("../fonts/b559a389-e9a7-4140-80af-cc5f64350983.woff2") format("woff2"),
	url("../fonts/a43fe47f-004d-4b6d-9a72-23de9e08f66e.woff") format("woff"),
	url("../fonts/de22c287-e0dc-4287-8a0e-3f68a8788330.ttf") format("truetype"),
	url("../fonts/d7c320de-0c26-418a-b1d2-ef600169db34.svg#d7c320de-0c26-418a-b1d2-ef600169db34") format("svg");
}
@font-face{
	font-family:"TradeGothicNextW01-BdCn";
	src:url("../fonts/f54ff660-2006-4adc-adb4-13705f833857.eot?#iefix");
	src:url("../fonts/f54ff660-2006-4adc-adb4-13705f833857.eot?#iefix") format("eot"),
	url("../fonts/fd65fac5-f7ce-4a4b-ac7e-4d234fa01b0c.woff2") format("woff2"),
	url("../fonts/e66e3237-f0dc-4885-90eb-b71e55d0c057.woff") format("woff"),
	url("../fonts/e3728264-163f-42ea-8592-565a6ec20b9a.ttf") format("truetype"),
	url("../fonts/4358bf54-ee4b-47d2-a4b4-0fa43581c3de.svg#4358bf54-ee4b-47d2-a4b4-0fa43581c3de") format("svg");
}
@font-face{
	font-family:"TradeGothicNextW01-HvCn_707049";
	src:url("../fonts/02688edd-1e75-49c8-a9a9-0c718ac03687.eot?#iefix");
	src:url("../fonts/02688edd-1e75-49c8-a9a9-0c718ac03687.eot?#iefix") format("eot"),
	url("../fonts/9ba6ab80-71bf-47b4-9628-cc6412b3045a.woff2") format("woff2"),
	url("../fonts/22f5a28a-c43f-43ad-bdf2-c1cb7abff9ec.woff") format("woff"),
	url("../fonts/f49159c0-b257-4efa-b603-ff98fe015336.ttf") format("truetype"),
	url("../fonts/b1cbaffb-5f24-4786-8c8d-6a1d0c3be8be.svg#b1cbaffb-5f24-4786-8c8d-6a1d0c3be8be") format("svg");
}
@font-face{
	font-family:"TradeGothicNextW01-HvCn_707052";
	src:url("../fonts/90a68a66-19c6-455a-9160-4c92886fef95.eot?#iefix");
	src:url("../fonts/90a68a66-19c6-455a-9160-4c92886fef95.eot?#iefix") format("eot"),
	url("../fonts/adbf718c-0691-481a-9f42-4c4bc9d88d7f.woff2") format("woff2"),
	url("../fonts/6e59a39d-4e26-4be2-8938-d283c48a7a14.woff") format("woff"),
	url("../fonts/a65e349f-4207-40bd-96a7-684df942d2a0.ttf") format("truetype"),
	url("../fonts/8cefcb91-6b12-4f77-a61c-53aafa881345.svg#8cefcb91-6b12-4f77-a61c-53aafa881345") format("svg");
}
@font-face{
	font-family:"TradeGothicNextW01-Cm";
	src:url("../fonts/250d337f-5064-4ebf-b239-19268b06426c.eot?#iefix");
	src:url("../fonts/250d337f-5064-4ebf-b239-19268b06426c.eot?#iefix") format("eot"),
	url("../fonts/05d9e746-4bc0-4f34-9bf4-35d1e0be828d.woff2") format("woff2"),
	url("../fonts/156a2970-1e03-4511-bbe1-b0eb23812751.woff") format("woff"),
	url("../fonts/8e53c549-9d44-4ccb-ab0d-f9f211e9c2ec.ttf") format("truetype"),
	url("../fonts/df618d94-a762-4f1b-b1a1-ed12ce9a34c8.svg#df618d94-a762-4f1b-b1a1-ed12ce9a34c8") format("svg");
}
@font-face{
	font-family:"TradeGothicNextW01-BdCm";
	src:url("../fonts/0f67b794-9e03-4118-8ba1-fd245d393a90.eot?#iefix");
	src:url("../fonts/0f67b794-9e03-4118-8ba1-fd245d393a90.eot?#iefix") format("eot"),
	url("../fonts/cad2168e-8e7a-434f-99dc-fb5b9d304dc4.woff2") format("woff2"),
	url("../fonts/645e0d00-e1a5-4a4f-a874-18088b350387.woff") format("woff"),
	url("../fonts/42879774-35f5-4fb3-b33c-b9093f346060.ttf") format("truetype"),
	url("../fonts/4c69e0f8-29c6-4629-8d1e-836a97e63858.svg#4c69e0f8-29c6-4629-8d1e-836a97e63858") format("svg");
}
@font-face{
	font-family:"TradeGothicNextW01-HvCm";
	src:url("../fonts/393e62c4-962e-49de-ad25-9c5a5b814343.eot?#iefix");
	src:url("../fonts/393e62c4-962e-49de-ad25-9c5a5b814343.eot?#iefix") format("eot"),
	url("../fonts/529c2d09-07b5-4e36-be1a-d8e43ebf8d4a.woff2") format("woff2"),
	url("../fonts/9a7a455d-3883-404c-8d19-d1fe74aae0a8.woff") format("woff"),
	url("../fonts/4ced5f9a-ceee-44af-8247-231b811234e8.ttf") format("truetype"),
	url("../fonts/89d0a5b0-920c-40e5-8884-1bc603177256.svg#89d0a5b0-920c-40e5-8884-1bc603177256") format("svg");
}
